<a href="{{url}}" class="container-cart-for-you">
  <div class="cart-for-you__image">
    <img src="{{image | img_url: 'grande'}}" alt="{{title}}">
    <div>{% render 'arrow-right-icon' %}</div>
  </div>
  <div class="cart-for-you__text-group">
    <h3>{{title}}</h3>
    <p>{{description}}</p>

  </div>
</a>