<div
  class="cart-shops">
  <div class="cart-shops__image">
    <img src="{{image | img_url: 'grande'}}" alt="{{title}}">
  </div>
  <div class="cart-shops__group-info
          ">
    <div class="">
      <p>{{ title }}</p>
      <p class="">
        {{ paragraph }}</p>
      <a href="{{url}}">{{ text-button }}</a>

    </div>

  </div>
</div>