<link
  rel="preload"
  href="{{ 'header.css' | asset_url }}"
  as="style"
  onload="this.onload=null;this.rel='stylesheet'">

<header class="header">
  {% comment %} IMG {% endcomment %}
  <img src="{{ 'https://cdn.shopify.com/s/files/1/0829/1713/0547/files/logo-santorini.png?v=1695034309'}}" class="header__logo" />
  {% comment %} NAVIGATION {% endcomment %}
  <nav class="header__navigation">
    <ul >
      {% for link in linklists["menu-header"].links %}
        <li>
          <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
      {% endfor %}
     <li>
      <a class="text-secondary" href="/collections/lo-nuevo-1">outlet</a>
    </li>
    <li>
      <a class="text-primary" href="/collections/lo-nuevo-1">tiendas</a>
    </li>
    </ul>

  </nav>
  {% comment %} ICONS {% endcomment %}
 
    <div class="header__group-icons">
      <div class="group-icons__search">
      {% render 'search-icon' %}
    </div>
       <div class="group-icons__cart">
      {% render 'cart-icon' %}
      <span>0</span>
    </div>
    <div class="group-icons__menu">
      {% render 'menu-icon' %}
    </div>
  </div>
</header>
{% comment %} NAVIGATION MOBILE {% endcomment %}
<div class="navigation-mobile">
  <div class="navigation-mobile__sadibar">

  {% comment %} SEARCH {% endcomment %}
  <div class="sadibar__container-input">
    <div>
      <input placeholder="Búsqueda de productos" id="input-search" />
      {% render 'search-icon' %}
    </div>
  </div>

  {% comment %} LIST {% endcomment %}
  <ul class="sadibar__navigation">
    {% for link in linklists["menu-header"].links %}
      <li>
        <a href="{{ link.url }}">{{ link.title }}</a>
      </li>
    {% endfor %}
    <li>
      <a class="text-secondary" href="#">outlet</a>
    </li>
    <li>
      <a class="text-primary" href="#">tiendas</a>
    </li>
    <li>
      <a  href="#">inicio de sesión / registrarse</a>
    </li>
  </ul>
  </div>
</div>